<% provide(:title, "About") %>
<h2>About</h2>
<ol class="breadcrumb">
  <li><%= link_to "メイン",        root_path %></li>
	<li class="active">About</li>
</ol>
<p>
  This is the about page for the
  <a href="#">Sweden Ryugaku DB</a>
  
  <br />
  <%= @about %>
</p>
