<% provide(:title, "Contact") %>
<h2>Contact</h2>
<ol class="breadcrumb">
  <li><%= link_to "メイン",        root_path %></li>
	<li class="active">Contact</li>
</ol>
<p>
  This is the contact page for the
  <a href="#">Sweden Ryugaku DB</a>
</p>
