<div class="center jumbotron">
  <div style="text-align:center;">
    <%= link_to image_tag("Sweden Ryugaku DB-logo.png", als: "logo"), root_path%>
  </div>

  <h3>
    スウェーデン留学に必要な情報をすべて掲載
  </h3>

  <div style="text-align:center;">
    <%= form_for @university, url: "/universities" do |f| %>
    <!--これで@Universityが新しいときはuniversities#createに
   -->
      <%#= f.label :name %>
      <%= f.collection_select(:id, University.all, :id, :name, {:class => "form-control input-lg"}) %>
      <%= f.submit "移動", class: "btn btn-primary" %>
    <% end %>
  </div>

</div>

<%#= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>
