<div class="center jumbotron" id="articles-background">
  <h2>
    <%= @university.name %>
  </h2>
  <ol class="breadcrumb">
  	<li>
      <%= link_to(@university.name, "/universities/#{@university.id}") %>
    </li>
    <li class="active">
      <%= @category.category_name %>
    </li>
  </ol>
  <div class = "main">
    <div class = "category">
      <ul class="list-group">
        <li　class="list-group-item">カテゴリ</li>
        <% @categories.each do |c| %>
          <li class="list-group-item">
            <%= link_to(c.category_name, "/universities/#{@university.id}/categories/#{c.id}") %>
          </li>
        <% end %>
        <!--
        カテゴリ実装の優先順位
        1.持物、準備、授業、寮、体験談、文化、生活、
        2.旅行、買物,イベント、交通
      　-->
      </ul>
    </div>
    <ul class = "articles">
      <article class="list-group">
        <a class="list-group-item ",href="#">
          <h3>記事1-タイトル</h3>
          <p>記事1-本文</p>
        </a>
      </article>
      <article class="list-group">
        <a class="list-group-item ",href="#">
          <h3>記事2-タイトル</h3>
          <p>記事2-本文</p>
        </a>
      </article>
      <article class="list-group">
        <a class="list-group-item ",href="#">
          <h3>記事3-タイトル</h3>
          <p>記事3-本文</p>
        </a>
      </article>
    </ul>
  </div>
</div>
